<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="..\..\assets\imagenes\icono_4.svg"> 
  <ion-text class="icono">
    <p class="ion-margin-bottom">Quote</p>
  </ion-text>
  
  <ion-text>
    <h2 class="ion-margin">¡Bienvenido!</h2>
    <h4 class="ion-margin">Consultá de manera rápida y sencilla la cotización de las divisas que necesites.</h4>
  </ion-text>
  <ion-button (click)="iniciarSesion()">
    Iniciar sesión con Google
    <ion-icon slot="end" name="logo-google"></ion-icon>
  </ion-button>
</ion-content>